:root{
    --verde: #038D00;
    --vermelho: #A70000;
    --amarelo: #CEA102;
    --roxo: #5A0092;
    --cinza: #322F2F;
    --cinza-claro: #868383;
}

html, *{
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.container-website{
    display: flex;
    align-items: center;
    margin: 0 2em;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
}

.menu{
    background-color: var(--cinza);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    border-radius: 25px;
    height: 95%;
}

.profile{
    margin: 3em 0;
    text-align: center;
}

.profile h3{
    font-weight: 400;
}

.projects-menu{
    margin: 0 1em;
}

.project-menu{
    display: flex;
    margin-bottom: 1.5em;
    font-size: 14px;
    font-size: 14px;
}

.color-menu{
    background-color: var(--verde);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.dashboard{
    height: 100%;
    width: 74%;
    margin-top: 2em;
    margin-left: 3em;
}

.dashboard-title{
    color: var(--cinza-claro);
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.project{
    margin: 1em 0;
    margin-right: 2em;
}

.square{
    cursor: pointer;
    width: 6em;
    height: 6em;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--cinza-claro);
    color: #C4C4C4;
    box-shadow: 1px 1px 10px var(--cinza-claro);
}

.new-project .square{
    background-color: transparent;
    border: 1px solid #C4C4C4;
}

.new-project .square:hover{
    transition: 0.5s;
    background-color: #C4C4C4;
    color: var(--cinza-claro);
}

.project h3{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3em;
}

.new-project-modal{
    display: none;
    position: absolute;
    margin: 8em 25em;
    z-index: 2;
}

.modal-form{
    border-radius: 25px;
    padding: 2em;
    background-color: var(--cinza);
    width: 30em;
    height: 14em;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.modal-form h1{
    margin-bottom: 0.6em;
}

.modal-form input{
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    border: none;
}
.modal-form .name{
    width: 15em;
}

.modal-form .sigla{
    width: 7em;
    margin-bottom: 1em;
}

.cores input{
    margin: 1em 0.5em;
}

#verde{
    background: var(--verde);
    background-color: var(--verde);
    color: var(--verde);
}

input[type='radio']:after {
    width: 1.5em;
    height: 1.5em;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}

#verde:after {
    background-color: var(--verde);
} 

#vermelho:after {
    background-color: var(--vermelho);
}

#amarelo:after {
    background-color: var(--amarelo);
}

#roxo:after {
    background-color: var(--roxo);
}

input[type='radio']:checked:after {
    background-color: #ffa500;
    border: 2px solid white;
}

.button{
    background-color: #C4C4C4;
    padding: 1em 3em;
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    border-radius: 25px;
    margin: 1em 0;
}